body{
	font-size: 150%;
}
.sidebar{
	background-color: #191818;
}
.content{
	padding: 2em 3em 0;
}
header{
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}
p{
	margin: 2em;
}

@media (min-width: 48em){
	.content {
		padding: 2em 3em 0;
		margin-left: 23%;
	}

    	.sidebar {
        	position: fixed;
	        top: 0;
	        bottom: 0;
	}

	.footer {
		text-align: center;
    	}
}
